<div id="rootwizard" class="step-track-wrap">
  <div class="navbar">
    <div class="navbar-inner">
      <ul class="row nav nav-tabs nav-justified nav-step-track" role="tablist">
        <li class="nav-item">
          <a class="nav-link" href="#tab1" data-toggle="tab">1. Step</a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" href="#tab2" data-toggle="tab">2. Step</a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" href="#tab3" data-toggle="tab">3. Step</a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" href="#tab4" data-toggle="tab">4. Step</a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" href="#tab5" data-toggle="tab">5. Step</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="raul-tab-content tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab1">1. Step content</div>

    <div role="tabpanel" class="tab-pane" id="tab2">2. Step content</div>

    <div role="tabpanel" class="tab-pane" id="tab3">3. Step content</div>

    <div role="tabpanel" class="tab-pane" id="tab4">4. Step content</div>

    <div role="tabpanel" class="tab-pane" id="tab5">5. Step content</div>

    <ul class="pager wizard nav-step-track-footer align-items-center row">
      <li class="col-sm-2 col-xs-4 previous hidden d-none">
        <div class="prev-btn">
          <a href="#">Prev</a>
        </div>
      </li>

      <li class="col-sm-10 col-xs-4">
        <hr>
      </li>

      <li class="col-sm-2 col-xs-4 next">
        <div class="next-btn">
          <a href="#">Next</a>
        </div>
      </li>
    </ul>
  </div>
</div>
