<div class="raul-carousel-container" id="raul-carousel-grid">
  <h2>Carousel grid</h2>

  <div name="sample" class="raul-carousel raul-carousel-grid">
    <a href="#" class="prev raul-carousel-icon-left">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </a>

    <a href="#" class="next raul-carousel-icon-right">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </a>

    <div class="visible-area">
      <ul class="row raul-carousel-items">
        <li class="raul-carousel-item">
          <div class="raul-carousel-item-wrapper center-vertically">
            <div class="raul-carousel-item-title">
              <span>Shipping1</span>
            </div>

            <div class="raul-carousel-item-description">
              <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
            </div>
          </div>

          <div class="raul-carousel-item-wrapper center-vertically">
            <div class="raul-carousel-item-title">
              <span>Shipping1</span>
            </div>

            <div class="raul-carousel-item-description">
              <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
            </div>
          </div>
        </li>

        <li class="raul-carousel-item">
          <div class="raul-carousel-item-wrapper center-vertically">
            <div class="raul-carousel-item-title">
              <span>Shipping2</span>
            </div>

            <div class="raul-carousel-item-description">
              <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
            </div>
          </div>

          <div class="raul-carousel-item-wrapper center-vertically">
            <div class="raul-carousel-item-title">
              <span>Shipping2</span>
            </div>

            <div class="raul-carousel-item-description">
              <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
            </div>
          </div>
        </li>

        <li class="raul-carousel-item">
          <div class="raul-carousel-item-wrapper center-vertically">
            <div class="raul-carousel-item-title">
              <span>Shipping3</span>
            </div>

            <div class="raul-carousel-item-description">
              <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
            </div>
          </div>

          <div class="raul-carousel-item-wrapper center-vertically">
            <div class="raul-carousel-item-title">
              <span>Shipping3</span>
            </div>

            <div class="raul-carousel-item-description">
              <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
            </div>
          </div>
        </li>

        <li class="raul-carousel-item">
          <div class="raul-carousel-item-wrapper center-vertically">
            <div class="raul-carousel-item-title">
              <span>Shipping4</span>
            </div>

            <div class="raul-carousel-item-description">
              <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
            </div>
          </div>

          <div class="raul-carousel-item-wrapper center-vertically">
            <div class="raul-carousel-item-title">
              <span>Shipping4</span>
            </div>

            <div class="raul-carousel-item-description">
              <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
            </div>
          </div>
        </li>

        <li class="raul-carousel-item">
          <div class="raul-carousel-item-wrapper center-vertically">
            <div class="raul-carousel-item-title">
              <span>Shipping5</span>
            </div>

            <div class="raul-carousel-item-description">
              <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
            </div>
          </div>

          <div class="raul-carousel-item-wrapper center-vertically">
            <div class="raul-carousel-item-title">
              <span>Shipping5</span>
            </div>

            <div class="raul-carousel-item-description">
              <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
            </div>
          </div>
        </li>

        <li class="raul-carousel-item">
          <div class="raul-carousel-item-wrapper center-vertically">
            <div class="raul-carousel-item-title">
              <span>Shipping6</span>
            </div>

            <div class="raul-carousel-item-description">
              <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
            </div>
          </div>

          <div class="raul-carousel-item-wrapper center-vertically">
            <div class="raul-carousel-item-title">
              <span>Shipping6</span>
            </div>

            <div class="raul-carousel-item-description">
              <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
            </div>
          </div>
        </li>

        <li class="raul-carousel-item">
          <div class="raul-carousel-item-wrapper center-vertically">
            <div class="raul-carousel-item-title">
              <span>Shipping7</span>
            </div>

            <div class="raul-carousel-item-description">
              <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
            </div>
          </div>

          <div class="raul-carousel-item-wrapper center-vertically">
            <div class="raul-carousel-item-title">
              <span>Shipping7</span>
            </div>

            <div class="raul-carousel-item-description">
              <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
            </div>
          </div>
        </li>

        <li class="raul-carousel-item">
          <div class="raul-carousel-item-wrapper center-vertically">
            <div class="raul-carousel-item-title">
              <span>Shipping8</span>
            </div>

            <div class="raul-carousel-item-description">
              <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
            </div>
          </div>

          <div class="raul-carousel-item-wrapper center-vertically">
            <div class="raul-carousel-item-title">
              <span>Shipping8</span>
            </div>

            <div class="raul-carousel-item-description">
              <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
