<div class="cards-container">
  <div class="raul-carousel-container" id="raul-carousel-cards">
    <h2>Carousel Cards</h2>

    <div name="sample" class="raul-carousel raul-carousel-cards">
      <a href="#" class="prev raul-carousel-icon-left">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </a>

      <a href="#" class="next raul-carousel-icon-right">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>

      <div class="visible-area">
        <ul class="row raul-carousel-items">
          <li class="raul-carousel-item" data-index="1">
            <div class="raul-carousel-item-wrapper center-vertically">
              <div class="raul-carousel-item-text">
                <div class="raul-carousel-item-title">
                  <span>Shipping1</span>
                </div>

                <div class="raul-carousel-item-description">
                  <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
                </div>
              </div>
            </div>
          </li>

          <li class="raul-carousel-item" data-index="2">
            <div class="raul-carousel-item-wrapper center-vertically">
              <div class="raul-carousel-item-text">
                <div class="raul-carousel-item-title">
                  <span>Shipping2</span>
                </div>

                <div class="raul-carousel-item-description">
                  <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
                </div>
              </div>
            </div>
          </li>

          <li class="raul-carousel-item" data-index="3">
            <div class="raul-carousel-item-wrapper center-vertically">
              <div class="raul-carousel-item-text">
                <div class="raul-carousel-item-title">
                  <span>Shipping3</span>
                </div>

                <div class="raul-carousel-item-description">
                  <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
                </div>
              </div>
            </div>
          </li>

          <li class="raul-carousel-item" data-index="4">
            <div class="raul-carousel-item-wrapper center-vertically">
              <div class="raul-carousel-item-text">
                <div class="raul-carousel-item-title">
                  <span>Shipping4</span>
                </div>

                <div class="raul-carousel-item-description">
                  <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
                </div>
              </div>
            </div>
          </li>

          <li class="raul-carousel-item" data-index="5">
            <div class="raul-carousel-item-wrapper center-vertically">
              <div class="raul-carousel-item-text">
                <div class="raul-carousel-item-title">
                  <span>Shipping5</span>
                </div>

                <div class="raul-carousel-item-description">
                  <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <div class="raul-carousel-dots"></div>
      </div>
    </div>
  </div>
</div>
