<footer id="raul-footer" class="raul-footer">
  <section class="container-fluid py-3">
    <address class="raul-footer-address mb-0">
      RealPage, Inc.<br>
      2201 Lakeside Blvd<br>
      Richardson, TX 75082
    </address>

    <p itemprop="telephone">
      <a class="raul-footer-phone" href="tel:18773257243">(877) 325-7243</a>
    </p>

    <div class="raul-footer-social">
      <a target="_blank" href="https://www.facebook.com/realpage">
        <i class="fa fa-facebook mx-2"></i>
      </a>

      <a target="_blank" href="https://twitter.com/RealPage">
        <i class="fa fa-twitter mx-2"></i>
      </a>

      <a target="_blank" href="https://www.linkedin.com/company/realpage">
        <i class="fa fa-linkedin mx-2"></i>
      </a>

      <a target="_blank" href="https://www.youtube.com/user/RealPageMedia">
        <i class="fa fa-youtube mx-2"></i>
      </a>

      <a target="_blank" href="https://plus.google.com/+Realpage/posts">
        <i class="fa fa-google-plus mx-2"></i>
      </a>
    </div>

    <div class="row">
      <div class="col-sm-7">
        <p class="raul-footer-copyright">
          © Copyright 1998-<%= new Date().getFullYear() %>
          <a class="raul-footer-link" href="#" target="_blank">All Rights Reserved</a>
        </p>
      </div>

      <div class="col-sm-5 raul-footer-nav">
        <a class="raul-footer-link" href="#" target="_blank">Terms of Use</a>

        <span class="mx-2">|</span>

        <a class="raul-footer-link" href="https://www.realpage.com/privacy-policy/" target="_blank">
          Private Policy
        </a>

        <span class="mx-2">|</span>

        <a class="raul-footer-link" href="https://www.realpage.com/privacy-shield/" target="_blank">
          Privacy Shield
        </a>

        <span class="mx-2">|</span>

        <a class="raul-footer-link" href="https://www.realpage.com/dmca-notice/" target="_blank">
          DMCA Notice
        </a>
      </div>
    </div>
  </section>
</footer>
