<%- include('/partials/header', {
  domain: 'Components',
  id: 'footer',
  page: 'Footer',
  noContentPadding: true,
}) %>

<div class="row">
  <div class="col-12 background-light-grey pt-3">
    <ul class="raul-nav nav nav-tabs raul-nav-underline" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          href="#html-version"
          role="tab"
          data-toggle="tab"
          aria-expanded="true"
        >
          HTML version
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="raul-tab-content tab-content mt-3">
  <div role="tabpanel" class="tab-pane active" id="html-version">
    <p class="alert alert-info">
      More information needed on where the actual placement of this component is going to be
    </p>

    <div class="raul-card">
      <%- include('/components/partials/footer/html/footer') %>
    </div>

    <div class="raul-card mb-5 p-0">
      <pre class="mb-0"><code class="language-html"><%=
        include('/components/partials/footer/html/footer')
      %></code></pre>
    </div>
  </div>
</div>

<%- include('/partials/footer') %>
