<%- include('/partials/header', {
  domain: 'Components',
  id: 'text-editor',
  page: 'Text Editor',
}) %>

<p>
  RAUL currently does not have an internal built in text editor. Until the need surfaces to build
  our own version, we will be utilizing RAUL Plugins. Currently we are supporting the following
  plugins:
</p>

<h3>Summernote</h3>

<p>
  Described in full detail on <a href="../plugins/summernote.html">raul-plugin-summernote</a> page,
  under Plugins.
</p>

<h3>Others</h3>

<p>
  If your team uses other plugins, please let the RAUL team know. We will try to add RAUL wrappers
  to pull in the plugin and add any defaults and styles.
</p>

<%- include('/partials/footer') %>
