<div class="raul-simple-dropdown dropdown">
  <a href="#" data-toggle="dropdown"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>

  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">First Action</a>
    <a class="dropdown-item" href="#">Second Action</a>
    <a class="dropdown-item disabled" href="#">Disabled Action</a>

    <div class="dropdown-divider"></div>

    <a class="dropdown-item" href="#">Final Action</a>
  </div>
</div>
