$badge-font-size: 0.75rem;
$badge-font-weight: $font-weight-normal;
$badge-padding-y: 0.25rem;
$badge-padding-x: 0.5em;
$badge-border-radius: 10rem;

// $badge-pill-padding-x: 0.6em;
// $badge-pill-border-radius: 10rem;
