$dropdown-min-width: 10rem;
$dropdown-padding-y: 0;
$dropdown-spacer: 0;
$dropdown-bg: $white;
$dropdown-border-color: $charcoal-10;
$dropdown-border-radius: 0;
$dropdown-border-width: 1px;
$dropdown-divider-bg: $gray-200;
$dropdown-box-shadow: 0 0.5rem 1rem rgba($black, 0.175);

$dropdown-link-color: $charcoal-90;
$dropdown-link-hover-color: $charcoal-90;
$dropdown-link-hover-bg: $gray-100;

$dropdown-link-active-color: $charcoal-90;
$dropdown-link-active-bg: $data-light-grey;

$dropdown-link-disabled-color: $gray-600;

$dropdown-item-padding-y: 0.625rem;
$dropdown-item-padding-x: 0.625rem;

$dropdown-header-color: $charcoal-90;
