// Navs

$nav-link-padding-y: 0.3rem;
$nav-link-padding-x: 1rem;
$nav-link-disabled-color: $charcoal-20;

$nav-tabs-border-color: transparent;
$nav-tabs-border-width: 3px;
$nav-tabs-border-radius: 0;
$nav-tabs-link-hover-border-color: rgba($primary-60, 0.4);
$nav-tabs-link-active-color: $charcoal-80;
$nav-tabs-link-active-bg: transparent;
$nav-tabs-link-active-border-color: $primary-60;

$nav-pills-border-radius: 0;
$nav-pills-link-active-color: $primary-60;
$nav-pills-link-active-bg: transparent;
