$table-cell-padding: 0.5rem;

$table-font-size-small: 0.75rem;
$table-font-size-medium: 0.85rem;
$table-font-size-big: 1rem;

$table-head-tr-height: 2.5rem;
$table-body-tr-height: 2.375rem;
$table-footer-tr-height: 3.125rem;

$table-blue-hover-color: $primary-05;
$table-grey-hover-color: rgba($data-grey, 0.1);
