<div
  id="raul-complex-accordion"
  class="raul-accordion-container
         raul-accordion-single
         raul-accordion-gutters
         raul-accordion-complex"
>
  <div class="raul-accordion-item">
    <input type="radio" id="radio-11" name="c-radio">

    <label for="radio-11">
      <div class="raul-accordion-title-panel">
        <div class="raul-accordion-title">Title1 Goes Here</div>

        <div class="raul-accordion-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
      </div>

      <div class="raul-accordion-edit-panel">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
      </div>
    </label>

    <div class="raul-accordion-item-content">
      <p class="m-0">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id malesuada sapien.
        Mauris urna justo, ultrices id aliquet aliquet, pellentesque sed massa.
        Cras vulputate ipsum vitae erat lobortis, sed tempus erat volutpat.
        Sed porttitor, augue iaculis faucibus lobortis, elit nunc scelerisque est,
        non rhoncus tortor libero eu mauris.
        Sed porttitor, augue iaculis faucibus lobortis, elit nunc scelerisque est,
        non rhoncus tortor libero eu mauris.
      </p>
    </div>
  </div>

  <div class="raul-accordion-item">
    <input type="radio" id="radio-12" name="c-radio">
    <label for="radio-12">
      <div class="raul-accordion-title-panel">
        <div class="raul-accordion-title">Title2 Goes Here</div>

        <div class="raul-accordion-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
      </div>

      <div class="raul-accordion-edit-panel">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
      </div>
    </label>

    <div class="raul-accordion-item-content">
      <p class="m-0">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id malesuada sapien.
        Mauris urna justo, ultrices id aliquet aliquet, pellentesque sed massa.
        Cras vulputate ipsum vitae erat lobortis, sed tempus erat volutpat.
        Sed porttitor, augue iaculis faucibus lobortis, elit nunc scelerisque est,
        non rhoncus tortor libero eu mauris.
        Sed porttitor, augue iaculis faucibus lobortis, elit nunc scelerisque est,
        non rhoncus tortor libero eu mauris.
      </p>
    </div>
  </div>

  <div class="raul-accordion-item">
    <input type="radio" id="radio-13" name="c-radio">

    <label for="radio-13">
      <div class="raul-accordion-title-panel">
        <div class="raul-accordion-title">Title3 Goes Here</div>

        <div class="raul-accordion-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
      </div>

      <div class="raul-accordion-edit-panel">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
      </div>
    </label>

    <div class="raul-accordion-item-content">
      <p class="m-0">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id malesuada sapien.
        Mauris urna justo, ultrices id aliquet aliquet, pellentesque sed massa.
        Cras vulputate ipsum vitae erat lobortis, sed tempus erat volutpat.
        Sed porttitor, augue iaculis faucibus lobortis, elit nunc scelerisque est,
        non rhoncus tortor libero eu mauris.
        Sed porttitor, augue iaculis faucibus lobortis, elit nunc scelerisque est,
        non rhoncus tortor libero eu mauris.
      </p>
    </div>
  </div>

  <div class="raul-accordion-item">
    <input type="radio" id="radio-14" name="c-radio">

    <label for="radio-14" class="clearfix">
      <div class="raul-accordion-title-panel">
        <div class="raul-accordion-title">Title4 Goes Here</div>

        <div class="raul-accordion-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
      </div>

      <div class="raul-accordion-edit-panel">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
      </div>
    </label>

    <div class="raul-accordion-item-content">
      <p class="m-0">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id malesuada sapien.
        Mauris urna justo, ultrices id aliquet aliquet, pellentesque sed massa.
        Cras vulputate ipsum vitae erat lobortis, sed tempus erat volutpat.
        Sed porttitor, augue iaculis faucibus lobortis, elit nunc scelerisque est,
        non rhoncus tortor libero eu mauris.
        Sed porttitor, augue iaculis faucibus lobortis, elit nunc scelerisque est,
        non rhoncus tortor libero eu mauris.
      </p>
    </div>
  </div>
</div>
