<div class="raul-accordion-container raul-light-accordion">
  <div class="raul-accordion-item">
    <input type="checkbox" id="checkbox-5" name="checkbox">

    <label for="checkbox-5">Title1 Goes Here</label>

    <div class="raul-accordion-item-content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id malesuada sapien.
        Mauris urna justo, ultrices id aliquet aliquet, pellentesque sed massa.
        Cras vulputate ipsum vitae erat lobortis, sed tempus erat volutpat.
        Sed porttitor, augue iaculis faucibus lobortis, elit nunc scelerisque est, non
        rhoncus tortor libero eu mauris.
      </p>
    </div>
  </div>

  <div class="raul-accordion-item">
    <input type="checkbox" id="checkbox-6" name="checkbox">

    <label for="checkbox-6">Title2 Goes Here</label>

    <div class="raul-accordion-item-content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id malesuada sapien.
        Mauris urna justo, ultrices id aliquet aliquet, pellentesque sed massa.
        Cras vulputate ipsum vitae erat lobortis, sed tempus erat volutpat.
        Sed porttitor, augue iaculis faucibus lobortis, elit nunc scelerisque est,
        non rhoncus tortor libero eu mauris.
      </p>
    </div>
  </div>

  <div class="raul-accordion-item">
    <input type="checkbox" id="checkbox-7" name="checkbox">

    <label for="checkbox-7">Title3 Goes Here</label>

    <div class="raul-accordion-item-content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id malesuada sapien.
        Mauris urna justo, ultrices id aliquet aliquet, pellentesque sed massa.
        Cras vulputate ipsum vitae erat lobortis, sed tempus erat volutpat.
        Sed porttitor, augue iaculis faucibus lobortis, elit nunc scelerisque est,
        non rhoncus tortor libero eu mauris.
      </p>
    </div>
  </div>

  <div class="raul-accordion-item">
    <input type="checkbox" id="checkbox-8" name="checkbox">

    <label for="checkbox-8">Title4 Goes Here</label>

    <div class="raul-accordion-item-content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id malesuada sapien.
        Mauris urna justo, ultrices id aliquet aliquet, pellentesque sed massa.
        Cras vulputate ipsum vitae erat lobortis, sed tempus erat volutpat.
        Sed porttitor, augue iaculis faucibus lobortis, elit nunc scelerisque est,
        non rhoncus tortor libero eu mauris.
      </p>
    </div>
  </div>
</div>
