<div class="list-group raul-sortable" id="list-group-example">
  <div class="
    list-group-item
    list-group-item-flex
    sortable-handler
    justify-content-between
    align-items-center
  ">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="custom-check-1">

      <label class="custom-control-label" for="custom-check-1">List item 1</label>
    </div>
  </div>

  <div class="
    list-group-item
    list-group-item-flex
    sortable-handler
    justify-content-between
    align-items-center
  ">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="custom-check-2">

      <label class="custom-control-label" for="custom-check-2">List item 2</label>
    </div>
  </div>

  <div class="
    list-group-item
    list-group-item-flex
    sortable-handler
    justify-content-between
    align-items-center
  ">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="custom-check-3">

      <label class="custom-control-label" for="custom-check-3">List item 3</label>
    </div>
  </div>

  <div class="
    list-group-item
    list-group-item-flex
    sortable-handler
    justify-content-between
    align-items-center
  ">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="custom-check-4">

      <label class="custom-control-label" for="custom-check-4">List item 4</label>
    </div>
  </div>

  <div class="
    list-group-item
    list-group-item-flex
    sortable-handler
    justify-content-between
    align-items-center
  ">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="custom-check-5">

      <label class="custom-control-label" for="custom-check-5">List item 5</label>
    </div>
  </div>
</div>
