<div class="list-group raul-sortable" id="list-group-handler-example">
  <div class="
    list-group-item
    list-group-item-flex
    justify-content-between
    align-items-center
  ">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="custom-check-11">

      <label class="custom-control-label" for="custom-check-11">List item 1</label>
    </div>

    <button class="btn btn-primary btn-outline sortable-handler">
      <i class="fa fa-arrows"></i>
      Drag
    </button>
  </div>

  <div class="
    list-group-item
    list-group-item-flex
    justify-content-between
    align-items-center
  ">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="custom-check-12">

      <label class="custom-control-label" for="custom-check-12">List item 2</label>
    </div>

    <button class="btn btn-primary btn-outline sortable-handler">
      <i class="fa fa-arrows"></i>
      Drag
    </button>
  </div>

  <div class="
    list-group-item
    list-group-item-flex
    justify-content-between
    align-items-center
  ">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="custom-check-13">

      <label class="custom-control-label" for="custom-check-13">List item 3</label>
    </div>

    <button class="btn btn-primary btn-outline sortable-handler">
      <i class="fa fa-arrows"></i>
      Drag
    </button>
  </div>

  <div class="
    list-group-item
    list-group-item-flex
    justify-content-between
    align-items-center
  ">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="custom-check-14">

      <label class="custom-control-label" for="custom-check-14">List item 4</label>
    </div>

    <button class="btn btn-primary btn-outline sortable-handler">
      <i class="fa fa-arrows"></i>
      Drag
    </button>
  </div>

  <div class="
    list-group-item
    list-group-item-flex
    justify-content-between
    align-items-center
  ">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="custom-check-15">

      <label class="custom-control-label" for="custom-check-15">List item 5</label>
    </div>

    <button class="btn btn-primary btn-outline sortable-handler">
      <i class="fa fa-arrows"></i>
      Drag
    </button>
  </div>
</div>
