<table class="table raul-table">
  <thead>
    <tr>
      <th colspan="2">Draggable table rows</th>
    </tr>
  </thead>

  <tbody class="raul-sortable" id="table-example">
    <tr class="sortable-handler">
      <td>Row 1</td>

      <td>
        Lorem ipsum dolor
      </td>
    </tr>

    <tr class="sortable-handler">
      <td>Row 2</td>

      <td>
        Lorem ipsum dolor
      </td>
    </tr>

    <tr class="sortable-handler">
      <td>Row 3</td>

      <td>
        Lorem ipsum dolor
      </td>
    </tr>

    <tr class="sortable-handler">
      <td>Row 4</td>

      <td>
        Lorem ipsum dolor
      </td>
    </tr>

    <tr class="sortable-handler">
      <td>Row 5</td>

      <td>
        Lorem ipsum dolor
      </td>
    </tr>
  </tbody>
</table>
