<ui-carousel
  carousel-title="Carousel card custom element"
  type="cards"
>
  <ui-carousel-slide index="1">
    <ui-carousel-item
      item-title="Item title"
      item-description="Item description Lorem ipsum dolor sit amet, consectetuer adipiscing elit."
    >
    </ui-carousel-item>
  </ui-carousel-slide>

  <ui-carousel-slide index="2">
    <ui-carousel-item
      item-title="Item title"
      item-description="Item description Lorem ipsum dolor sit amet, consectetuer adipiscing elit."
    >
    </ui-carousel-item>
  </ui-carousel-slide>

  <ui-carousel-slide index="3">
    <ui-carousel-item
    >
      <div>Your own markup</div>
    </ui-carousel-item>
  </ui-carousel-slide>
</ui-carousel>
