<p class="alert alert-danger">
  <strong>Breaking Change:</strong> v2.75.0 introduced a <code>raul-</code> class prefix to
  <a href="/styleguide/components/dropdowns.html">dropdown</a> and
  <a href="/styleguide/components/loaders.html">loader</a> components. This namespacing
  prevents RAUL components from conflicting with non-RAUL components.
  Update your markup for these components when moving to 2.75 and later.
</p>
