<div class="pagination-wrapper row align-items-center">
  <div class="pagination-show-entries col">
    Show
    <div class="raul-dropdown-select dropdown-no-border dropdown-sm px-2">
      <div class="dropdown-toggle">
        <div class="dropdown-toggle-content">
          <span class="dropdown-title">10</span>

          <i class="fa fa-chevron-down dropdown-arrow" aria-hidden="true"></i>
        </div>
      </div>

      <div class="dropdown-menu">
        <div class="dropdown-body">
          <div class="dropdown-group">
            <div class="dropdown-row">
              <div class="dropdown-item">
                <label class="raul-radio-wrapper">
                  <span class="raul-form-input-text">10</span>

                  <input
                    type="radio"
                    name="form-style-second-section"
                    value="10"
                    data-text="10"
                    checked
                  >
                </label>
              </div>
            </div>

            <div class="dropdown-row">
              <div class="dropdown-item">
                <label class="raul-radio-wrapper">
                  <span class="raul-form-input-text">15</span>

                  <input
                    type="radio"
                    name="form-style-second-section"
                    value="15"
                    data-text="15"
                  >
                </label>
              </div>
            </div>

            <div class="dropdown-row">
              <div class="dropdown-item">
                <label class="raul-radio-wrapper">
                  <span class="raul-form-input-text">20</span>

                  <input
                    type="radio"
                    name="form-style-second-section"
                    value="20"
                    data-text="20"
                  >
                </label>
              </div>
            </div>

            <div class="dropdown-row">
              <div class="dropdown-item">
                <label class="raul-radio-wrapper">
                  <span class="raul-form-input-text">25</span>

                  <input
                    type="radio"
                    name="form-style-second-section"
                    value="25"
                    data-text="25"
                  >
                </label>
              </div>
            </div>

            <div class="dropdown-row">
              <div class="dropdown-item">
                <label class="raul-radio-wrapper">
                  <span class="raul-form-input-text">30</span>

                  <input
                    type="radio"
                    name="form-style-second-section"
                    value="30"
                    data-text="30"
                  >
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    entries
  </div>

  <div class="pagination-count col text-center">
    <span class="pagination-count-from">1</span>-<span class="pagination-count-to">10</span>
    of
    <span class="pagination-count-of">90</span>
  </div>

  <div class="pagination-pages col text-right">
    <i class="fa fa-angle-left go-to-page-icon" aria-hidden="true"></i> Page

    <input
      type="number"
      name="page-number"
      value="1"
      min="1"
      max="300"
      class="pagination-page-number"
    > of

    <span class="pagination-total-pages"> 300</span>

    <i class="fa fa-angle-right go-to-page-icon" aria-hidden="true"></i>
  </div>
</div>
