<table class="table raul-table <%= additionalClasses %> table-font-size-small">
  <thead>
    <tr>
      <th>Table Title Here</th>

      <th></th>

      <th></th>

      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Lead Information Here</td>

      <td>100</td>

      <td>
        <div class="raul-status-indicator raul-status-indicator-success item">
          <span>Active</span>
        </div>
      </td>

      <td class="text-right">
        <div class="action-items-wrapper">
          <div class="action-item">
            <a href="#" class="action-icon black-action-item">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
          </div>

          <div class="action-item">
            <a href="#" class="action-icon black-action-item">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </div>

          <div class="action-item raul-simple-dropdown dropdown dropleft">
            <a href="#" data-toggle="dropdown" class="action-icon">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </a>

            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>

              <a class="dropdown-item disabled" href="#">Another action</a>

              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td>Lead Information Here</td>

      <td>57</td>

      <td>
        <div class="raul-status-indicator raul-status-indicator-success item">
          <span>Active</span>
        </div>
      </td>

      <td class="text-right">
        <div class="action-items-wrapper">
          <div class="action-item">
            <a href="#" class="action-icon black-action-item">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
          </div>

          <div class="action-item">
            <a href="#" class="action-icon black-action-item">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </div>

          <div class="action-item raul-simple-dropdown dropdown dropleft">
            <a href="#" data-toggle="dropdown" class="action-icon">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </a>

            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>

              <a class="dropdown-item disabled" href="#">Another action</a>

              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td>Lead Information Here</td>

      <td>96</td>

      <td>
        <div class="raul-status-indicator raul-status-indicator-pending item">
          <span>Pending</span>
        </div>
      </td>

      <td class="text-right">
        <div class="action-items-wrapper">
          <div class="action-item">
            <a href="#" class="action-icon black-action-item">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
          </div>

          <div class="action-item">
            <a href="#" class="action-icon black-action-item">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </div>

          <div class="action-item raul-simple-dropdown dropdown dropleft">
            <a href="#" data-toggle="dropdown" class="action-icon">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </a>

            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>

              <a class="dropdown-item disabled" href="#">Another action</a>

              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td>Lead Information Here</td>

      <td>234</td>

      <td>
        <div class="raul-status-indicator raul-status-indicator-success item">
          <span>Active</span>
        </div>
      </td>

      <td class="text-right">
        <div class="action-items-wrapper">
          <div class="action-item">
            <a href="#" class="action-icon black-action-item">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
          </div>

          <div class="action-item">
            <a href="#" class="action-icon black-action-item">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </div>

          <div class="action-item raul-simple-dropdown dropdown dropleft">
            <a href="#" data-toggle="dropdown" class="action-icon">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </a>

            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>

              <a class="dropdown-item disabled" href="#">Another action</a>

              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td>Lead Information Here</td>

      <td>122</td>

      <td>
        <div class="raul-status-indicator raul-status-indicator-success item">
          <span>Active</span>
        </div>
      </td>

      <td class="text-right">
        <div class="action-items-wrapper">
          <div class="action-item">
            <a href="#" class="action-icon black-action-item">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
          </div>

          <div class="action-item">
            <a href="#" class="action-icon black-action-item">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </div>

          <div class="action-item raul-simple-dropdown dropdown dropleft">
            <a href="#" data-toggle="dropdown" class="action-icon">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </a>

            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>

              <a class="dropdown-item disabled" href="#">Another action</a>

              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td>Lead Information Here</td>

      <td>122</td>

      <td>
        <div class="raul-status-indicator raul-status-indicator-success item">
          <span>Active</span>
        </div>
      </td>

      <td class="text-right">
        <div class="action-items-wrapper">
          <div class="action-item">
            <a href="#" class="action-icon black-action-item">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
          </div>

          <div class="action-item">
            <a href="#" class="action-icon black-action-item">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </div>

          <div class="action-item raul-simple-dropdown dropdown dropleft">
            <a href="#" data-toggle="dropdown" class="action-icon">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </a>

            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>

              <a class="dropdown-item disabled" href="#">Another action</a>

              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
