<% const dummyImageSrc = 's.realpage.com/wp-content/themes/realpage/images/card-assets/news-9-24-2017.jpg' %>
<table class="table raul-table table-font-size-small">
  <thead>
    <tr>
      <th class="table-sortable ascending">
        Header
      </th>

      <th class="table-sortable descending">
        Header
      </th>

      <th class="table-sortable descending">
        Header
      </th>

      <th class="table-sortable descending">
            Header
      </th>

      <th></th>
    </tr>
  </thead>

  <tfoot>
    <tr>
      <th>Total Count Left</th>

      <th>Total Count Left</th>

      <th>Total Count Left</th>

      <th></th>

      <th></th>
    </tr>
  </tfoot>

  <tbody class="table-font-size-medium row-padding-bg">
    <tr>
      <td>
        <div class="table-item-wrapper">
          <a href="#" class="pr-3 text-decoration-none"><img src="https://<%= dummyImageSrc %>" alt="Image" style="width:2.5rem;height:2.5rem"></a>

          <div class="table-item-details">
            <a href="#" class="text-decoration-none text-primary">Property Name</a>

            <div class="text-muted">123 Main Street Dallas TX 75084</div>
          </div>
        </div>
      </td>

      <td>
        First Line Text

        <div class="text-muted">Lorem ipsum dolor</div>
      </td>

      <td>
        First Line Text

        <div class="text-muted">Lorem ipsum dolor</div>
      </td>

      <td>
        First Line Text
      </td>

      <td class="text-right">
        <div class="action-items-wrapper">
          <div class="action-item">
            <i class="fa fa-pencil action-icon" aria-hidden="true"></i>
          </div>

          <div class="action-item">
            <i class="fa fa-trash action-icon" aria-hidden="true"></i>
          </div>

          <div class="action-item raul-simple-dropdown dropdown dropleft">
            <a href="#" data-toggle="dropdown" class="action-icon">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </a>

            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>

              <a class="dropdown-item disabled" href="#">Another action</a>

              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="table-item-wrapper">
          <a href="#" class="pr-3 text-decoration-none"><img src="https://<%= dummyImageSrc %>" alt="Image" style="width:2.5rem;height:2.5rem"></a>

          <div class="table-item-details">
            <a href="#" class="text-decoration-none text-primary">Property Name</a>

            <div class="text-muted">123 Main Street Dallas TX 75084</div>
          </div>
        </div>
      </td>

      <td>
        First Line Text

        <div class="text-muted">Lorem ipsum dolor</div>
      </td>

      <td>
        First Line Text

        <div class="text-muted">Lorem ipsum dolor</div>
      </td>

      <td>
        First Line Text
      </td>

      <td class="text-right">
        <div class="action-items-wrapper">
          <div class="action-item">
            <i class="fa fa-pencil action-icon" aria-hidden="true"></i>
          </div>

          <div class="action-item">
            <i class="fa fa-trash action-icon" aria-hidden="true"></i>
          </div>

          <div class="action-item raul-simple-dropdown dropdown dropleft">
            <a href="#" data-toggle="dropdown" class="action-icon">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </a>

            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>

              <a class="dropdown-item disabled" href="#">Another action</a>

              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="table-item-wrapper">
          <a href="#" class="pr-3 text-decoration-none"><img src="https://<%= dummyImageSrc %>" alt="Image" style="width:2.5rem;height:2.5rem"></a>

          <div class="table-item-details">
            <a href="#" class="text-decoration-none text-primary">Property Name</a>

            <div class="text-muted">123 Main Street Dallas TX 75084</div>
          </div>
        </div>
      </td>

      <td>
        First Line Text

        <div class="text-muted">Lorem ipsum dolor</div>
      </td>

      <td>
        First Line Text

        <div class="text-muted">Lorem ipsum dolor</div>
      </td>

      <td>
        First Line Text
      </td>

      <td class="text-right">
        <div class="action-items-wrapper">
          <div class="action-item">
            <i class="fa fa-pencil action-icon" aria-hidden="true"></i>
          </div>

          <div class="action-item">
            <i class="fa fa-trash action-icon" aria-hidden="true"></i>
          </div>

          <div class="action-item raul-simple-dropdown dropdown dropleft">
            <a href="#" data-toggle="dropdown" class="action-icon">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </a>

            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>

              <a class="dropdown-item disabled" href="#">Another action</a>

              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="table-item-wrapper">
          <a href="#" class="pr-3 text-decoration-none"><img src="https://<%= dummyImageSrc %>" alt="Image" style="width:2.5rem;height:2.5rem"></a>

          <div class="table-item-details">
            <a href="#" class="text-decoration-none text-primary">Property Name</a>

            <div class="text-muted">123 Main Street Dallas TX 75084</div>
          </div>
        </div>
      </td>

      <td>
        First Line Text

        <div class="text-muted">Lorem ipsum dolor</div>
      </td>

      <td>
        First Line Text

        <div class="text-muted">Lorem ipsum dolor</div>
      </td>

      <td>
        First Line Text
      </td>

      <td class="text-right">
        <div class="action-items-wrapper">
          <div class="action-item">
            <i class="fa fa-pencil action-icon" aria-hidden="true"></i>
          </div>

          <div class="action-item">
            <i class="fa fa-trash action-icon" aria-hidden="true"></i>
          </div>

          <div class="action-item raul-simple-dropdown dropdown dropleft">
            <a href="#" data-toggle="dropdown" class="action-icon">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </a>

            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>

              <a class="dropdown-item disabled" href="#">Another action</a>

              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
