<table class="table raul-table table-bordered">
  <thead>
    <tr>
      <th class="table-font-size-small">Small</th>

      <th class="table-font-size-medium">Medium</th>

      <th class="table-font-size-big">Big</th>
    </tr>
  </thead>

  <tfoot>
    <tr>
      <th class="table-font-size-small">
        <code>.table-font-size-small</code>
      </th>

      <th class="table-font-size-medium">
        <code>.table-font-size-medium</code>
      </th>

      <th class="table-font-size-big">
        <code>.table-font-size-big</code>
      </th>
    </tr>
  </tfoot>

  <tbody>
    <tr>
      <td class="table-font-size-small">
        Example of text on which
        <code>.table-font-size-small</code>
        has been applied
      </td>

      <td class="table-font-size-medium">
        Example of text on which
        <code>.table-font-size-medium</code>
        has been applied
      </td>

      <td class="table-font-size-big">
        Example of text on which
        <code>.table-font-size-big</code>
        has been applied
      </td>
    </tr>
  </tbody>
</table>
