<table class="table raul-table table-bordered table-font-size-small">
  <thead>
    <tr>
      <th>Left</th>

      <th class="text-center">Center</th>

      <th class="text-right">Right</th>
    </tr>
  </thead>

  <tfoot>
    <tr>
      <th>
        <code>.text-left</code> (optional)
      </th>

      <th class="text-center">
        <code>.text-center</code>
      </th>

      <th class="text-right">
        <code>.text-right</code>
      </th>
    </tr>
  </tfoot>

  <tbody>
    <tr>
      <td>The text aligns to the left as default</td>

      <td class="text-center">
        Using
        <code>.text-center</code>
        aligns the text centrally
      </td>

      <td class="text-right">
        Using
        <code>.text-right</code>
        aligns the text to the right
      </td>
    </tr>
  </tbody>
</table>
