<div class="custom-control custom-checkbox mb-2">
  <input
    type="checkbox"
    class="custom-control-input"
    id="main-check"
    data-check-all-main="size-options"
  >
  <label class="custom-control-label" for="main-check">Check All</label>
</div>

<hr />

<div class="custom-control custom-checkbox mb-2">
  <input
    type="checkbox"
    class="custom-control-input"
    id="secondary-check-1"
    data-check-all-secondary="size-options"
  >
  <label class="custom-control-label" for="secondary-check-1">Small</label>
</div>

<div class="custom-control custom-checkbox mb-2">
  <input
    type="checkbox"
    class="custom-control-input"
    id="secondary-check-2"
    data-check-all-secondary="size-options"
  >
  <label class="custom-control-label" for="secondary-check-2">Medium</label>
</div>

<div class="custom-control custom-checkbox mb-2">
  <input
    type="checkbox"
    class="custom-control-input"
    id="secondary-check-3"
    data-check-all-secondary="size-options"
    disabled
  >
  <label class="custom-control-label" for="secondary-check-3">Large (sold out)</label>
</div>

<div class="custom-control custom-checkbox mb-2">
  <input
    type="checkbox"
    class="custom-control-input"
    id="secondary-check-4"
    data-check-all-secondary="size-options"
  >
  <label class="custom-control-label" for="secondary-check-4">Extra-Large</label>
</div>
