<header id="raul-page-header" class="raul-page-header">
  <h2 id="raul-page-header-page" class="raul-page-header-page">Page Header</h2>

  <div id="raul-page-header-breadcrumbs" class="raul-page-header-breadcrumbs">
    <div
      id="raul-page-header-breadcrumbs-dropdown"
      class="raul-page-header-breadcrumbs-dropdown d-md-none"
    >
      <a class="raul-page-header-breadcrumbs-dropdown-breadcrumb" href="http://www.realpage.com">
        RAUL
      </a>

      <a class="raul-page-header-breadcrumbs-dropdown-breadcrumb" href="http://www.realpage.com">
        Component
      </a>
    </div>

    <i id="raul-page-header-breadcrumbs-back" class="fa fa-angle-left d-inline-block d-md-none"></i>

    <a class="raul-page-header-breadcrumb hidden-sm-down" href="http://www.realpage.com">RAUL</a>

    <span class="hidden-sm-down"> / </span>

    <a class="raul-page-header-breadcrumb hidden-sm-down" href="http://www.realpage.com">
      Component
    </a>

    <span class="hidden-sm-down"> / </span>

    <span class="raul-page-header-breadcrumb"><strong>Page Header</strong></span>
  </div>
</header>
