<div class="raul-box">
  <div class="raul-box-header">
    <h3 class="raul-box-title">Box title</h3>

    <p class="raul-box-sub">Box Subheader content</p>
  </div>

  <div class="raul-box-block">
    <p style="margin:10px">Box content</p>
  </div>
</div>
