<div class="raul-box">
  <div
    class="raul-box-header collapsed"
    data-toggle="collapse"
    data-target="#one"
    aria-expanded="false"
    aria-controls="one"
  >
    <h3 class="raul-box-title">Box Collapse Initially Closed</h3>
  </div>

  <div class="raul-box-block collapse" id="one">
    <p style="margin:10px">Box content</p>
  </div>
</div>
