<div class="raul-box raul-box-disabled">
  <div class="raul-box-header">
    <h3 class="raul-box-title">Box title</h3>
  </div>

  <div class="raul-box-block">
    <p style="margin:10px">Box content</p>
  </div>
</div>
