<div class="raul-timeline">
  <div class="timeline-row">
    <div class="row-left-bar neutral"></div>
    <div class="row-content">
      This is a simple sign
    </div>
  </div>
  <div class="timeline-row">
    <div class="row-left-bar warning"></div>
    <div class="row-content">
      This is a warning sign
    </div>
  </div>
  <div class="timeline-row">
    <div class="row-left-bar danger"></div>
    <div class="row-content">
      This is a danger sign
    </div>
  </div>
  <div class="timeline-row">
    <div class="row-left-bar success"></div>
    <div class="row-content">
      This is a success sign
    </div>
  </div>
</div>
