@import 'node_modules/bootstrap/scss/badge';

.raul-badges-container {
  display: inline-block;
}

.raul-badge {
  background: $primary-60;
  border-radius: 15px;
  color: $lightest;
  display: inline-block;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 20px;
  padding: 0 8px;
}

.raul-badge-icon {
  font-size: 12px;
}
