.raul-card {
  background: $lightest;
  border: 1px solid $neutral-six;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(82, 97, 115, 0.2);
  box-sizing: border-box;
  color: $charcoal-80;
  line-height: 22px;
  padding: 12px;
}
