.cards-container {
  box-sizing: border-box;
  margin: 25px auto;
  width: 100%;
}

.raul-carousel-container {
  box-sizing: border-box;
  font-family: 'Roboto';
  font-size: 14px;
  padding: 35px 39px;

  * {
    box-sizing: border-box;
  }

  h2 {
    font-size: 20px;
  }

  &#{&}-white {
    background: $lightest;
  }

  &#{&}-grey {
    background: $data-light-grey;
  }

  &::after,
  .raul-carousel .raul-carousel-items::after {
    clear: both;
    content: '';
    display: block;
  }
}

.raul-carousel-container .raul-carousel {
  clear: both;
  color: $charcoal-80;
  float: left;
  height: 220px;
  position: relative;
  text-align: center;
  width: 100%;

  .visible-area {
    height: 100%;
    overflow: hidden;
    padding: 5px 0;
    width: 100%;

    .raul-carousel-item {
      float: left;
      width: 220px;

      img {
        height: 37px;
        width: 37px;
      }

      &-wrapper {
        background: $white;
        border: 1px solid $charcoal-20;
        border-left: 0;
        display: flex;
        flex-direction: column;
        height: 210px;
        padding: 24px;
        width: 100%;

        .raul-carousel-item-title {
          font-size: 20px;
          font-weight: 500;
          line-height: 24px;
          margin: 6px 0;
        }

        .raul-carousel-item-description {
          color: $charcoal-50;
          line-height: 22px;
        }

        &.center-vertically {
          justify-content: center;
        }

        &:nth-child(2) {
          border-top: 0;
        }

        &:hover {
          box-shadow: rgba(0, 0, 0, 0.2) 0 0 16px 0;
          cursor: pointer;
          position: relative;
          z-index: 10;
        }
      }

      &:first-child .raul-carousel-item-wrapper {
        border-left: 1px solid $charcoal-20;
      }

      ui-carousel-item:nth-child(2) {
        .raul-carousel-item-wrapper {
          border-top: 0;
        }
      }
    }

    ui-carousel-slide:not(:first-child) {
      .raul-carousel-item {
        .raul-carousel-item-wrapper {
          border-left: 0;
        }
      }
    }

    .raul-carousel-items {
      height: 100%;
      list-style: none;
      margin: 0;
      min-width: 100%;
      padding: 0;
      transition: 0.5s all ease;
      width: auto;
    }
  }

  .prev,
  .next {
    background: $lightest;
    border: 1px solid $charcoal-20;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 16px 0;
    color: $primary-60;
    cursor: pointer;
    height: 50px;
    left: 0;
    line-height: 50px;
    margin-top: -25px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 50%;
    width: 35px;
    z-index: 1;

    i {
      color: $primary-60;
    }
  }

  .next {
    left: auto;
    padding-left: 4px;
    right: 0;
  }

  //Carousel Grid
  &.raul-carousel-grid {
    height: 420px;

    .visible-area {
      height: 100%;

      .raul-carousel-item {
        height: 100%;

        &-wrapper {
          height: 50%;
        }
      }
    }
  }

  //Carousel Card
  &.raul-carousel-cards {
    //width: auto;
    width: 100%;

    .visible-area {
      border: 1px solid $charcoal-20;
      padding: 0;
      position: relative;
      width: 100%;
    }

    .next {
      right: 0;
    }
  }
}

//Carousel Card additional
.raul-carousel-container .raul-carousel.raul-carousel-cards .visible-area .raul-carousel-dots {
  align-items: center;
  bottom: 15px;
  display: flex;
  height: 20px;
  justify-content: center;
  left: 50%;
  position: absolute;

  .raul-carousel-dot {
    background-color: $charcoal-20;
    border-radius: 50%;
    display: inline-block;
    height: 6px;
    margin-right: 10px;
    width: 6px;

    &.dot-active {
      background-color: $primary-60;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.raul-carousel-container .raul-carousel.raul-carousel-cards .visible-area .raul-carousel-items {
  height: 100%;

  .raul-carousel-item {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 24px;
    width: 100%;

    &-wrapper {
      border: 0;
      flex-direction: row;
      height: 100%;
      justify-content: center;
      overflow: hidden;
      padding: 0;
      width: 100%;

      &:hover {
        box-shadow: none;
        z-index: 0;
      }

      &.center-vertically {
        align-items: center;
      }
    }

    &:last-child .raul-carousel-item-wrapper {
      border-right: 0;
    }
  }
}

@media only screen and (max-width: 560px) {
  .cards-container {
    box-sizing: border-box;
    margin: 25px auto;
    width: 100%;
  }

  .raul-carousel-container .raul-carousel .visible-area {
    .raul-carousel-item-wrapper {
      border: 1px solid $charcoal-20;
      width: 100%;
    }
  }
}
