<ui-card>
  <h2>This is the title</h2>

  <p class="raul-card-description mb-0">
    This is the description. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
    Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
    magnis dis parturient montes, nascetur ridiculus mus. Donec qu
  </p>
</ui-card>
