<div class="raul-progress progress">
  <div
    class="raul-progress-bar progress-bar animate show-percent info"
    role="progressbar"
    aria-valuenow="4"
    aria-valuemin="0"
    aria-valuemax="10"
  ></div>
  <div
    class="raul-progress-bar progress-bar animate show-percent danger"
    role="progressbar"
    aria-valuenow="2"
    aria-valuemin="0"
    aria-valuemax="10"
  ></div>
  <div
    class="raul-progress-bar progress-bar animate show-percent warning"
    role="progressbar"
    aria-valuenow="1"
    aria-valuemin="0"
    aria-valuemax="10"
  ></div>
  <div
    class="raul-progress-bar progress-bar animate show-percent"
    role="progressbar"
    aria-valuenow="1"
    aria-valuemin="0"
    aria-valuemax="10"
  ></div>
</div>
