<div class="raul-progress progress">
  <div
    class="raul-progress-bar progress-bar success <%= additionalClasses %>"
    role="progressbar"
    aria-valuenow="50"
    aria-valuemin="0"
    aria-valuemax="100"
  ></div>
</div>
