<div class="raul-dropdown-select dropdown-multiple">
  <div class="dropdown-toggle">
    <div class="dropdown-toggle-content">
      <span class="dropdown-title">Select users...</span>

      <i class="fa fa-chevron-down dropdown-arrow" aria-hidden="true"></i>
    </div>
  </div>

  <div class="dropdown-menu">
    <div class="dropdown-search">
      <div class="dropdown-row">
        <div class="form-control-wrapper">
          <input
            type="search"
            class="form-control dropdown-search-input"
            placeholder="Search..."
          />

          <div class="form-icon-box">
            <i
              class="fa fa-search form-icon form-icon-search form-icon-grey"
              aria-hidden="true"
            ></i>
          </div>
        </div>
      </div>
    </div>

    <div class="dropdown-body">
      <div class="dropdown-search-not-found-wrapper">
        <h6 class="dropdown-header">No matching users</h6>
      </div>

      <div class="dropdown-group">
        <div class="dropdown-row dropdown-row-header">
          <h6 class="dropdown-header">
            <div class="custom-control custom-checkbox custom-control-right">
              <input type="checkbox" class="custom-control-input check-all" id="custom-check-1">

              <label class="custom-control-label section-title" for="custom-check-1">
                Leasing Agents 1
              </label>
            </div>
          </h6>
        </div>

        <div class="dropdown-row">
          <div class="dropdown-item">
            <div class="custom-control custom-checkbox custom-control-right">
              <input
                type="checkbox"
                name="form-style-first-section"
                class="custom-control-input"
                id="custom-check-2"
                value="arthur-anydonuts"
                data-text="Arthur Anydonuts"
              >

              <label class="custom-control-label" for="custom-check-2">
                Arthur Anydonuts
              </label>
            </div>
          </div>
        </div>

        <div class="dropdown-row">
          <div class="dropdown-item">
            <div class="custom-control custom-checkbox custom-control-right">
              <input
                type="checkbox"
                name="form-style-first-section"
                class="custom-control-input"
                id="custom-check-3"
                value="lars-ofthemohicans"
                data-text="Lars Ofthemohicans (Disabled)"
                disabled
              >

              <label class="custom-control-label" for="custom-check-3">
                Lars Ofthemohicans (Disabled)
              </label>
            </div>
          </div>
        </div>

        <div class="dropdown-row">
          <div class="dropdown-item">
            <div class="custom-control custom-checkbox custom-control-right">
              <input
                type="checkbox"
                name="form-style-first-section"
                class="custom-control-input"
                id="custom-check-4"
                value="oswald-hatendswald"
                data-text="Oswald Thatendswald"
              >

              <label class="custom-control-label" for="custom-check-4">
                Oswald Thatendswald
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="dropdown-group">
        <div class="dropdown-row dropdown-row-header">
          <h6 class="dropdown-header">
            <div class="custom-control custom-checkbox custom-control-right">
              <input type="checkbox" class="custom-control-input check-all" id="custom-check-5">

              <label class="custom-control-label section-title" for="custom-check-5">
                Regional Managers
              </label>
            </div>
          </h6>
        </div>

        <div class="dropdown-row">
          <div class="dropdown-item">
            <div class="custom-control custom-checkbox custom-control-right">
              <input
                type="checkbox"
                name="form-style-second-section"
                class="custom-control-input"
                id="custom-check-6"
                value="colin-themarines"
                data-text="Colin Themarines"
              >

              <label class="custom-control-label" for="custom-check-6">
                Colin Themarines
              </label>
            </div>
          </div>
        </div>

        <div class="dropdown-row">
          <div class="dropdown-item">
            <div class="custom-control custom-checkbox custom-control-right">
              <input
                type="checkbox"
                name="form-style-second-section"
                class="custom-control-input"
                id="custom-check-7"
                value="faye-knews"
                data-text="Faye Knews"
              >

              <label class="custom-control-label" for="custom-check-7">
                Faye Knews
              </label>
            </div>
          </div>
        </div>

        <div class="dropdown-row">
          <div class="dropdown-item">
            <div class="custom-control custom-checkbox custom-control-right">
              <input
                type="checkbox"
                name="form-style-second-section"
                class="custom-control-input"
                id="custom-check-8"
                value="wes-fillingmoretaste"
                data-text="Wes Fillingmoretaste"
              >

              <label class="custom-control-label" for="custom-check-8">
                Wes Fillingmoretaste
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
