<div class="raul-dropdown-select dropdown-multiple dropdown-multiple-type-ahead">
  <div class="dropdown-toggle">
    <div class="dropdown-toggle-content">
      <span class="dropdown-title">Email recipients...</span>

      <i class="fa fa-plus dropdown-chips-plus-icon" aria-hidden="true"></i>
    </div>

    <div class="dropdown-chips">
      <i class="fa fa-plus dropdown-chips-plus-icon" aria-hidden="true"></i>

      <input
        type="search"
        class="dropdown-search-input"
      >
    </div>
  </div>

  <div class="dropdown-menu">
    <div class="dropdown-body">
      <div class="dropdown-search-not-found-wrapper">
        <h6 class="dropdown-header">No renters found</h6>
      </div>

      <div class="dropdown-group">
        <div class="dropdown-row">
          <div class="dropdown-item">
            <label class="raul-checkbox-wrapper">
              <span class="raul-form-input-text">Bob Fourapples (bob@realpage.com)</span>

              <input
                type="checkbox"
                name="form-style-second-section"
                value="bob@realpage.com"
                data-text="Bob Fourapples"
              >

              <i class="fa fa-check dropdown-checked-icon"></i>
            </label>
          </div>
        </div>

        <div class="dropdown-row">
          <div class="dropdown-item">
            <label class="raul-checkbox-wrapper">
              <span class="raul-form-input-text">Ima E. Mail (ima@realpage.com)</span>

              <input
                type="checkbox"
                name="type-ahead-first-section"
                value="ima@realpage.com"
                data-text="Ima E. Mail"
              >

              <i class="fa fa-check dropdown-checked-icon"></i>
            </label>
          </div>
        </div>

        <div class="dropdown-row">
          <div class="dropdown-item">
            <label class="raul-checkbox-wrapper">
              <span class="raul-form-input-text">Thor Throat (thor@realpage.com)</span>

              <input
                type="checkbox"
                name="type-ahead-first-section"
                value="thor@realpage.com"
                data-text="Thor Throat"
              >

              <i class="fa fa-check dropdown-checked-icon"></i>
            </label>
          </div>
        </div>

        <div class="dropdown-row">
          <div class="dropdown-item" data-option-value="Example 5">
            <label class="raul-checkbox-wrapper">
              <span class="raul-form-input-text">Vern Babyvern (vern@realpage.com)</span>

              <input
                type="checkbox"
                name="type-ahead-first-section"
                value="vern@realpage.com"
                data-text="Vern Babyvern"
              >

              <i class="fa fa-check dropdown-checked-icon"></i>
            </label>
          </div>
        </div>

        <div class="dropdown-row">
          <div class="dropdown-item" data-option-value="Example 6">
            <label class="raul-checkbox-wrapper">
              <span class="raul-form-input-text">Wendy Dew-Gethere (wendy@realpage.com)</span>

              <input
                type="checkbox"
                name="type-ahead-first-section"
                value="wendy@realpage.com"
                data-text="Wendy Dew-Gethere"
              >

              <i class="fa fa-check dropdown-checked-icon"></i>
            </label>
          </div>
        </div>

        <div class="dropdown-row">
          <div class="dropdown-item">
            <label class="raul-checkbox-wrapper">
              <span class="raul-form-input-text">Woodrow Butnopaddle (woody@realpage.com)</span>

              <input
                type="checkbox"
                name="type-ahead-first-section"
                value="woody@realpage.com"
                data-text="Woodrow Butnopaddle"
              >

              <i class="fa fa-check dropdown-checked-icon"></i>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
