<div class="raul-dropdown-select">
  <div class="dropdown-toggle">
    <div class="dropdown-toggle-content">
      <span class="dropdown-title">Select a food...</span>

      <i class="fa fa-chevron-down dropdown-arrow" aria-hidden="true"></i>
    </div>
  </div>

  <div class="dropdown-menu">
    <div class="dropdown-body">
      <div class="dropdown-group">
        <div class="dropdown-row dropdown-row-header">
          <h6 class="dropdown-header section-title">
            Fruit
          </h6>
        </div>

        <div class="dropdown-row">
          <div class="dropdown-item">
            <label class="raul-radio-wrapper">
              <span class="raul-form-input-text">Apple</span>

              <input
                type="radio"
                name="form-style-second-section"
                value="apple"
                data-text="Apple"
              >

              <i class="fa fa-check dropdown-checked-icon"></i>
            </label>
          </div>
        </div>

        <div class="dropdown-row">
          <div class="dropdown-item">
            <label class="raul-radio-wrapper">
              <span class="raul-form-input-text">Banana</span>

              <input
                type="radio"
                name="form-style-second-section"
                value="banana"
                data-text="Banana"
              >

              <i class="fa fa-check dropdown-checked-icon"></i>
            </label>
          </div>
        </div>

        <div class="dropdown-row">
          <div class="dropdown-item">
            <label class="raul-radio-wrapper">
              <span class="raul-form-input-text">Cherry</span>

              <input
                type="radio"
                name="form-style-second-section"
                value="cherry"
                data-text="Cherry"
              >

              <i class="fa fa-check dropdown-checked-icon"></i>
            </label>
          </div>
        </div>

        <div class="dropdown-row">
          <div class="dropdown-item">
            <label class="raul-radio-wrapper">
              <span class="raul-form-input-text raul-input-text-disabled">Dragonfruit</span>

              <input
                type="radio"
                name="form-style-second-section"
                value="dragonfruit"
                data-text="Dragonfruit"
                disabled
              >

              <i class="fa fa-check dropdown-checked-icon"></i>
            </label>
          </div>
        </div>
      </div>

      <div class="dropdown-group">
        <div class="dropdown-row dropdown-row-header">
          <h6 class="dropdown-header section-title">
            Vegetables
          </h6>
        </div>

        <div class="dropdown-row">
          <div class="dropdown-item">
            <label class="raul-radio-wrapper">
              <span class="raul-form-input-text">Broccoli</span>

              <input
                type="radio"
                name="form-style-second-section"
                value="broccoli"
                data-text="Broccoli"
              >

              <i class="fa fa-check dropdown-checked-icon"></i>
            </label>
          </div>
        </div>

        <div class="dropdown-row">
          <div class="dropdown-item">
            <label class="raul-radio-wrapper">
              <span class="raul-form-input-text">Brussel Sprouts</span>

              <input
                type="radio"
                name="form-style-second-section"
                value="brussel-sprouts"
                data-text="Brussel Sprouts"
              >

              <i class="fa fa-check dropdown-checked-icon"></i>
            </label>
          </div>
        </div>

        <div class="dropdown-row">
          <div class="dropdown-item">
            <label class="raul-radio-wrapper">
              <span class="raul-form-input-text">Cauliflower</span>

              <input
                type="radio"
                name="form-style-second-section"
                value="cauliflower"
                data-text="Cauliflower"
              >

              <i class="fa fa-check dropdown-checked-icon"></i>
            </label>
          </div>
        </div>

        <div class="dropdown-row">
          <div class="dropdown-item">
            <label class="raul-radio-wrapper">
              <span class="raul-form-input-text raul-input-text-disabled">None of the above</span>

              <input
                type="radio"
                name="form-style-second-section"
                value="none"
                data-text="None of the above"
                disabled
              >

              <i class="fa fa-check dropdown-checked-icon"></i>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
