<div class="raul-list-group">
  <form>
    <div class="raul-list-group-item">
      <ul>
        <li>
          <label>
            <div>
              <div class="raul-list-item-first-line">
                First Line Text
              </div>

              <div class="raul-list-item-second-line">
                Second Line Text
              </div>
            </div>

            <div>
              <div class="raul-switch-wrapper">
                <span class="raul-form-input-text">On</span>

                <div class="raul-switch">
                  <input type="checkbox" checked>
                  <span class="raul-switch-slider"></span>
                </div>
              </div>
            </div>
          </label>

          <ul class="raul-sublist-group">
            <li>
              <label>
                <div>
                  <img src="images/mask.svg"  alt="mask">

                  <div class="raul-list-item-first-line">
                    First Line Text
                  </div>
                </div>

                <div>
                  <div class="raul-switch-wrapper">
                    <span class="raul-form-input-text">On</span>

                    <div class="raul-switch">
                      <input type="checkbox">
                      <span class="raul-switch-slider"></span>
                    </div>
                  </div>
                </div>
              </label>
            </li>

            <li>
              <label>
                <div>
                  <img src="images/mask.svg"  alt="mask">

                  <div class="raul-list-item-first-line">
                    First Line Text
                  </div>
                </div>

                <div class="clearfix">
                  <div class="raul-switch-wrapper">
                    <span class="raul-form-input-text">On</span>

                    <div class="raul-switch">
                      <input type="checkbox">
                      <span class="raul-switch-slider"></span>
                    </div>
                  </div>
                </div>
              </label>
            </li>
          </ul>
        </li>

        <li>
          <label>
            <div>
              <div class="raul-list-item-first-line">
                First Line Text
              </div>

              <div class="raul-list-item-second-line">
                Second Line Text
              </div>
            </div>

            <div class="clearfix">
              <div class="raul-switch-wrapper">
                <span class="raul-form-input-text">On</span>

                <div class="raul-switch">
                  <input type="checkbox" checked>
                  <span class="raul-switch-slider"></span>
                </div>
              </div>
            </div>
          </label>
        </li>
      </ul>
    </div>
  </form>
</div>
