<div class="raul-list-group">
  <form>
    <div class="raul-list-group-item">
      <div class="raul-list-group-header">
        <span>List Group Label</span>
      </div>

      <ul>
        <li>
          <label>
            <div>
              <div class="raul-list-item-first-line">
                First Line Text
              </div>

              <div class="raul-list-item-second-line">
                Second Line Text
              </div>
            </div>

            <div>
              <div
                class="custom-control custom-checkbox custom-control-sm custom-control-right-next"
              >
                <input type="checkbox" class="custom-control-input" id="custom-check-1">
                <label class="custom-control-label" for="custom-check-1">(Optional Text)</label>
              </div>
            </div>
          </label>
        </li>

        <li>
          <label>
            <div>
              <div class="raul-list-item-first-line">
                First Line Text
              </div>

              <div class="raul-list-item-second-line">
                Second Line Text
              </div>
            </div>

            <div class="clearfix">
              <div
                class="custom-control custom-checkbox custom-control-sm custom-control-right-next"
              >
                <input type="checkbox" class="custom-control-input" id="custom-check-2">
                <label class="custom-control-label" for="custom-check-2">(Optional Text)</label>
              </div>
            </div>
          </label>
        </li>
      </ul>
    </div>

    <div class="raul-list-group-item">
      <div class="raul-list-group-header">
        <span>List Group Label</span>
      </div>

      <ul>
        <li>
          <label>
            <div>
              <div class="raul-list-item-first-line">
                First Line Text
              </div>

              <div class="raul-list-item-second-line">
                Second Line Text
              </div>
            </div>

            <div>
              <div
                class="custom-control custom-checkbox custom-control-sm custom-control-right-next"
              >
                <input type="checkbox" class="custom-control-input" id="custom-check-3">
                <label class="custom-control-label" for="custom-check-3">(Optional Text)</label>
              </div>
            </div>
          </label>
        </li>

        <li>
          <label>
            <div>
              <div class="raul-list-item-first-line">
                First Line Text
              </div>

              <div class="raul-list-item-second-line">
                Second Line Text
              </div>
            </div>

            <div class="clearfix">
              <div class="
                custom-control
                custom-checkbox
                custom-control-sm
                custom-control-right-next
                custom-control-no-text
              ">
                <input type="checkbox" class="custom-control-input" id="custom-check-4">
                <label class="custom-control-label" for="custom-check-4"></label>
              </div>
            </div>
          </label>
        </li>
      </ul>
    </div>
  </form>
</div>
