<div class="raul-list-group">
  <form>
    <div class="raul-list-group-item">
      <ul>
        <li>
          <label>
            <div>
              <div class="raul-list-item-first-line">
                First Line Text
              </div>

              <div class="raul-list-item-second-line">
                Second Line Text
              </div>
            </div>

            <div>
              <div class="custom-control custom-radio custom-control-sm custom-control-right-next">
                <input
                  type="radio"
                  id="custom-radio-5"
                  name="custom-radio"
                  class="custom-control-input"
                >
                <label class="custom-control-label" for="custom-radio-5">(Optional Text)</label>
              </div>
            </div>
          </label>
        </li>

        <li>
          <label>
            <div>
              <div class="raul-list-item-first-line">
                First Line Text
              </div>

              <div class="raul-list-item-second-line">
                Second Line Text
              </div>
            </div>

            <div class="clearfix">
              <div class="custom-control custom-radio custom-control-sm custom-control-right-next">
                <input
                  type="radio"
                  id="custom-radio-6"
                  name="custom-radio"
                  class="custom-control-input"
                >
                <label class="custom-control-label" for="custom-radio-6">(Optional Text)</label>
              </div>
            </div>
          </label>
        </li>
      </ul>
    </div>
  </form>
</div>
