<!-- Modal Trigger Button -->
<button
  class="right-modal button button-default"
  data-toggle="modal"
  data-target="#right-modal"
>
  Launch Right Modal
</button>

<!-- Modal -->
<div
  class="modal right slide"
  id="right-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="example-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h5 class="modal-title">Modal title</h5>
      </div>

      <div class="modal-body">
        <p>
          Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac
          facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac,
          vestibulum at eros.
        </p>

        <p>
          Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis
          lacus vel augue laoreet rutrum faucibus dolor auctor.
        </p>

        <p>
          Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel
          scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non
          metus auctor fringilla.
        </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="button button-default" data-dismiss="modal">Close</button>
        <button type="button" class="button button-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
