<!-- Modal Trigger Button -->
<button
  class="right-modal button button-default"
  data-toggle="modal"
  data-target="#single-aside"
>
  Launch single aside modal
</button>

<!-- Modal -->
<div
  class="modal right slide raul-aside-modal raul-single-aside pr-0"
  id="single-aside"
  tabindex="-1"
  role="dialog"
  aria-labelledby="example-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Single aside modal title</h5>

        <span class="modal-subheader">Subline text goes here</span>
      </div>

      <div class="modal-body">
        <p>
          Cras mattis consectetur purus sit amet fermentum.
          Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
        </p>

        <p>
          Cras mattis consectetur purus sit amet fermentum.
          Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
        </p>

        <p>
          Cras mattis consectetur purus sit amet fermentum.
          Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
        </p>

        <p>
          Cras mattis consectetur purus sit amet fermentum.
          Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
        </p>

        <p>
          Cras mattis consectetur purus sit amet fermentum.
          Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
        </p>

        <p>
          Cras mattis consectetur purus sit amet fermentum.
          Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
        </p>

        <p>
          Cras mattis consectetur purus sit amet fermentum.
          Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
        </p>
      </div>

      <div class="modal-footer clearfix">
        <button
          type="button"
          class="button button-primary button-outline"
          data-dismiss="modal"
        >
          Dismiss
        </button>
        <button type="button" class="button button-primary" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>
