<div class="custom-control custom-checkbox mb-2">
  <input type="checkbox" class="custom-control-input" id="custom-check-1">
  <label class="custom-control-label" for="custom-check-1">Unchecked</label>
</div>

<div class="custom-control custom-checkbox mb-2">
  <input type="checkbox" class="custom-control-input" id="custom-check-2" checked>
  <label class="custom-control-label" for="custom-check-2">Checked</label>
</div>

<div class="custom-control custom-checkbox mb-2">
  <input type="checkbox" class="custom-control-input" id="custom-check-disabled-1" disabled>
  <label class="custom-control-label" for="custom-check-disabled-1">Disabled</label>
</div>

<div class="custom-control custom-checkbox mb-2">
  <input type="checkbox" class="custom-control-input" id="custom-check-disabled-2" checked disabled>
  <label class="custom-control-label" for="custom-check-disabled-2">Disabled Checked</label>
</div>

<div class="custom-control custom-checkbox mb-2">
  <input
    type="checkbox"
    class="custom-control-input custom-control-input-indeterminate"
    id="custom-check-3"
    checked
  >
  <label class="custom-control-label" for="custom-check-3">Some Checked</label>
</div>

<div class="custom-control custom-checkbox mb-2">
  <input
    type="checkbox"
    class="custom-control-input custom-control-input-indeterminate"
    id="custom-check-4"
    checked
    disabled
  >
  <label class="custom-control-label" for="custom-check-4">Some Checked Disabled</label>
</div>

<div class="custom-control custom-checkbox custom-control-sm mb-2">
  <input type="checkbox" class="custom-control-input" id="custom-check-small-font-size">
  <label class="custom-control-label" for="custom-check-small-font-size">Small Font Size</label>
</div>

<div class="custom-control custom-checkbox custom-control-right-next mb-2">
  <input type="checkbox" class="custom-control-input" id="custom-check-right-aligned">
  <label class="custom-control-label" for="custom-check-right-aligned">Right Aligned</label>
</div>

<div class="custom-control custom-checkbox custom-control-no-text">
  <input type="checkbox" class="custom-control-input" id="custom-check-no-text">
  <label class="custom-control-label" for="custom-check-no-text"></label>
</div>
