<form>
  <div class="form-group">
    <div class="row align-items-center">
      <div class="col-auto">
        <label for="search-by-select-example" class="mb-0">
          Search by
        </label>
      </div>

      <div class="col">
        <div class="row no-gutters">
          <div class="col col-lg-5 col-xl-3">
            <div class="form-control-wrapper">
              <select class="form-control custom-select" id="search-by-select-example">
                <option>Open this select menu</option>
                <option>One</option>
                <option>Two</option>
                <option>Three</option>
              </select>

              <div class="form-icon-box">
                <i class="fa fa-chevron-down form-icon form-icon-arrow" aria-hidden="true"></i>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="form-control-wrapper">
              <input
                type="search"
                name="search-by-example"
                class="form-control"
                id="search-by-example"
                placeholder="Placeholder"
              />

              <div class="form-icon-box">
                <i
                  class="fa fa-search form-icon form-icon-search form-icon-grey"
                  aria-hidden="true"
                >
                </i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
