<div class="form-group">
  <label for="example-input-19" class="form-input-label">Field Label</label>

  <input
    type="text"
    name="example-input-19"
    class="form-control is-valid"
    id="example-input-19"
    value="UX Power Tools"
  />

  <div class="valid-feedback">
    Success message!
  </div>
</div>

<div class="form-group">
  <label for="example-input-20" class="form-input-label">Field Label</label>

  <input
    type="text"
    name="example-input-20"
    class="form-control is-invalid"
    id="example-input-20"
    value="UX Power Tools"
  />

  <div class="invalid-feedback">
    Error message!
  </div>
</div>

