<div class="input-group mb-2">
  <label class="sr-only" for="example-input-15"></label>

  <input
    type="text"
    name="example-input-15"
    class="form-control"
    id="example-input-15"
    placeholder="Username"
  />

  <div class="input-group-append">
    <div
      class="input-group-text"
      aria-label="Tool tip info message"
      data-tooltip="Tool tip info message. This is a example for tooltip with long info text"
      data-tooltip-pos="top-left"
    >
      <i class="fa fa-info-circle form-info-box-icon" aria-hidden="true"></i>
    </div>
  </div>
</div>

<div class="input-group mb-2">
  <div class="form-control-wrapper">
    <select class="form-control custom-select" id="example-input-16" required>
      <option>Open this select menu</option>
      <option>One</option>
      <option>Two</option>
      <option>Three</option>
    </select>

    <div class="form-icon-box">
      <i class="fa fa-chevron-down form-icon form-icon-arrow" aria-hidden="true"></i>
    </div>
  </div>

  <div class="input-group-append">
    <div
      class="input-group-text"
      aria-label="Tool tip info message"
      data-tooltip="Tool tip info message"
      data-tooltip-pos="top-left"
    >
      <i class="fa fa-info-circle form-info-box-icon" aria-hidden="true"></i>
    </div>
  </div>
</div>
