<div class="custom-control custom-radio mb-2">
  <input type="radio" id="custom-radio-1" name="custom-radio" class="custom-control-input" checked>
  <label class="custom-control-label" for="custom-radio-1">Selected</label>
</div>

<div class="custom-control custom-radio mb-2">
  <input type="radio" id="custom-radio-2" name="custom-radio" class="custom-control-input">
  <label class="custom-control-label" for="custom-radio-2">Unselected</label>
</div>

<div class="custom-control custom-radio mb-2">
  <input type="radio" id="custom-radio-3" name="custom-radio" class="custom-control-input" disabled>
  <label class="custom-control-label" for="custom-radio-3">Disabled</label>
</div>

<div class="custom-control custom-radio custom-control-sm mb-2">
  <input
    type="radio"
    id="custom-radio-small-font-size"
    name="custom-radio"
    class="custom-control-input"
  >
  <label class="custom-control-label" for="custom-radio-small-font-size">Small Font Size</label>
</div>

<div class="custom-control custom-radio custom-control-right-next mb-2">
  <input
    type="radio"
    id="custom-radio-right-aligned"
    name="custom-radio"
    class="custom-control-input"
  >
  <label class="custom-control-label" for="custom-radio-right-aligned">Right Aligned</label>
</div>

<div class="custom-control custom-radio custom-control-no-text">
  <input type="radio" id="custom-radio-no-text" name="custom-radio" class="custom-control-input">
  <label class="custom-control-label" for="custom-radio-no-text"></label>
</div>
