<label class="raul-checkbox-wrapper">
  <span class="raul-form-input-text">Checked</span>
  <input type="checkbox" checked>
  <span class="raul-checkbox-checkmark"></span>
</label>

<label class="raul-checkbox-wrapper">
  <span class="raul-form-input-text">Unchecked</span>
  <input type="checkbox">
  <span class="raul-checkbox-checkmark"></span>
</label>

<label class="raul-checkbox-wrapper">
  <span class="raul-form-input-text raul-input-text-disabled">Disabled</span>
  <input type="checkbox" disabled>
  <span class="raul-checkbox-checkmark"></span>
</label>

<label class="raul-checkbox-wrapper">
  <span class="raul-form-input-text raul-input-text-disabled">Disabled Checked</span>
  <input type="checkbox" checked disabled>
  <span class="raul-checkbox-checkmark"></span>
</label>

<label class="raul-checkbox-wrapper">
  <span class="raul-form-input-text">Some checked</span>
  <input type="checkbox" class="raul-checkbox-some-selected">
  <span class="raul-checkbox-checkmark"></span>
</label>
