<label class="raul-radio-wrapper">
  <span class="raul-form-input-text">Selected</span>
  <input type="radio" checked="checked" name="radio">
  <span class="raul-radio-checkmark"></span>
</label>

<label class="raul-radio-wrapper">
  <span class="raul-form-input-text">Unselected</span>
  <input type="radio" name="radio">
  <span class="raul-radio-checkmark"></span>
</label>

<label class="raul-radio-wrapper">
  <span class="raul-form-input-text raul-input-text-disabled">Disabled</span>
  <input type="radio" name="radio" disabled>
  <span class="raul-radio-checkmark"></span>
</label>
