<div class="raul-switch-wrapper">
  <label>
    <span class="raul-form-input-text">On</span>

    <div class="raul-switch">
      <input type="checkbox" checked>
      <span class="raul-switch-slider"></span>
    </div>
  </label>
</div>

<div class="raul-switch-wrapper">
  <label>
    <span class="raul-form-input-text">Off</span>

    <div class="raul-switch">
      <input type="checkbox">
      <span class="raul-switch-slider"></span>
    </div>
  </label>
</div>

<div class="raul-switch-wrapper">
  <label>
    <span class="raul-form-input-text raul-input-text-disabled">Disabled</span>

    <div class="raul-switch">
      <input type="checkbox" disabled>
      <span class="raul-switch-slider"></span>
    </div>
  </label>
</div>
