<div class="form-group">
  <label for="example-input-11">Field Label</label>
  <div class="form-control-wrapper">
    <input
      type="search"
      name="example-input-11"
      class="form-control"
      id="example-input-11"
      placeholder="Placeholder"
    />
    <div class="form-icon-box">
      <i class="fa fa-search form-icon form-icon-search form-icon-grey" aria-hidden="true"></i>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="example-input-12">Field Label</label>

  <div class="form-control-wrapper">
    <input
      type="search"
      name="example-input-12"
      class="form-control"
      id="example-input-12"
      placeholder="Placeholder"
      value="Example"
    />
    <div class="form-icon-box">
      <i class="fa fa-search form-icon form-icon-search form-icon-grey" aria-hidden="true"></i>
    </div>
  </div>
</div>
