<div class="form-group">
  <div class="form-control-wrapper">
    <select class="form-control custom-select" id="example-input-13">
      <option>Open this select menu</option>
      <option>One</option>
      <option>Two</option>
      <option>Three</option>
    </select>
    <div class="form-icon-box">
      <i class="fa fa-chevron-down form-icon form-icon-arrow" aria-hidden="true"></i>
    </div>
  </div>
</div>
