<div class="form-group">
  <textarea
    name="example-input-17"
    class="form-control form-textarea-sm"
    id="example-input-17"
  >Example</textarea>
</div>

<div class="form-group">
  <textarea
    name="example-input-18"
    class="form-control form-textarea"
    id="example-input-18"
    placeholder="Placeholder"
  ></textarea>
</div>
