<div class="form-group">
  <label for="example-input-9">Field Label (Optional)</label>
  <input
    type="text"
    name="example-input-9"
    class="form-control"
    id="example-input-9"
    placeholder="Placeholder"
  />
</div>

<div class="form-group">
  <label for="example-input-10">Field Label (Optional)</label>
  <input
    type="text"
    name="example-input-10"
    class="form-control"
    id="example-input-10"
    placeholder="Placeholder"
    value="Example"
  />
</div>
