<div class="form-group">
  <label for="example-input-1">Field Label</label>
  <input
    type="text"
    name="example-input-1"
    class="form-control"
    id="example-input-1"
    placeholder="Placeholder"
    aria-describedby="example-input-1-help"
  />
  <small id="example-input-1-help" class="form-text text-muted">
    Example of helper for above input
  </small>
</div>

<div class="form-group">
  <label for="example-input-2">Field Label</label>
  <input
    type="text"
    name="example-input-2"
    class="form-control"
    id="example-input-2"
    placeholder="Placeholder"
    value="Example"
  />
</div>
