<div class="form-group">
  <label class="sr-only" for="example-input-5"></label>
  <input
    type="text"
    name="example-input-5"
    class="form-control"
    id="example-input-5"
    placeholder="Placeholder"
    disabled
  />
</div>

<div class="form-group">
  <label class="sr-only" for="example-input-6"></label>
  <input
    type="text"
    name="example-input-6"
    class="form-control"
    id="example-input-6"
    placeholder="Placeholder"
    value="Example"
    disabled
  />
</div>
