<div class="custom-control custom-switch custom-switch-space-between mb-2">
  <input type="checkbox" class="custom-control-input" id="custom-switch-1" checked>
  <div class="custom-switch-text">Space Between (ON)</div>
  <label class="custom-control-label" for="custom-switch-1"></label>
</div>

<div class="custom-control custom-switch custom-switch-space-between mb-2">
  <input type="checkbox" class="custom-control-input" id="custom-switch-2">
  <div class="custom-switch-text">Space Between (OFF)</div>
  <label class="custom-control-label" for="custom-switch-2"></label>
</div>

<div class="custom-control custom-switch custom-switch-space-between">
  <input type="checkbox" class="custom-control-input" id="custom-switch-3" disabled>
  <div class="custom-switch-text">Space Between (Disabled)</div>
  <label class="custom-control-label" for="custom-switch-3"></label>
</div>
