<div class="custom-control custom-switch mb-2">
  <input type="checkbox" class="custom-control-input" id="custom-switch-4" checked>
  <label class="custom-control-label" for="custom-switch-4"></label>
</div>

<div class="custom-control custom-switch mb-2">
  <input type="checkbox" class="custom-control-input" id="custom-switch-5">
  <label class="custom-control-label" for="custom-switch-5"></label>
</div>

<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="custom-switch-6" disabled>
  <label class="custom-control-label" for="custom-switch-6"></label>
</div>

