<div class="custom-control custom-switch mb-2">
  <input type="checkbox" class="custom-control-input" id="custom-switch-7" checked>
  <label class="custom-control-label" for="custom-switch-7"></label>
  <div class="custom-switch-text ml-2">Left Aligned (ON)</div>
</div>

<div class="custom-control custom-switch mb-2">
  <input type="checkbox" class="custom-control-input" id="custom-switch-8">
  <label class="custom-control-label" for="custom-switch-8"></label>
  <div class="custom-switch-text ml-2">Left Aligned (OFF)</div>
</div>

<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="custom-switch-9" disabled>
  <label class="custom-control-label" for="custom-switch-9"></label>
  <div class="custom-switch-text ml-2">Left Aligned (Disabled)</div>
</div>
