<ul class="raul-nav-toggles raul-nav-icon-toggles nav nav-tabs">
  <li class="raul-nav-toggles-item nav-item">
    <a
      class="nav-link active"
      href="#icon-toggle-1"
      aria-controls="icon-toggle-1"
      role="tab"
      data-toggle="tab"
      aria-expanded="true"
    >
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    </a>
  </li>

  <li class="raul-nav-toggles-item nav-item">
    <a
      class="nav-link"
      href="#icon-toggle-2"
      aria-controls="icon-toggle-2"
      role="tab"
      data-toggle="tab"
      aria-expanded="false"
    >
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>
  </li>

  <li class="raul-nav-toggles-item nav-item">
    <a
      class="nav-link"
      href="#icon-toggle-3"
      aria-controls="icon-toggle-3"
      role="tab"
      data-toggle="tab"
      aria-expanded="false"
    >
      <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
    </a>
  </li>
</ul>

<!-- Tab panes -->
<div class="raul-tab-content tab-content">
  <div id="icon-toggle-1" class="raul-toggle-content tab-pane active">Toggle Button Content 1</div>

  <div id="icon-toggle-2" class="raul-toggle-content tab-pane">Toggle Button Content 2</div>

  <div id="icon-toggle-3" class="raul-toggle-content tab-pane">Toggle Button Content 3</div>
</div>
