<h2 class="nav-tabs-vertical-title mb-3">Menu Title Here</h2>
<div class="row">
  <div class="col-3">
    <!-- Nav Tabs -->
    <ul class="nav nav-tabs flex-column" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          id="v-tabs-home-tab"
          data-toggle="tab"
          href="#v-tabs-home"
          role="tab"
          aria-controls="v-tabs-home"
          aria-selected="true"
        >Home</a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          id="v-tabs-profile-tab"
          data-toggle="tab"
          href="#v-tabs-profile"
          role="tab"
          aria-controls="v-tabs-profile"
          aria-selected="false"
        >Profile</a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          id="v-tabs-messages-tab"
          data-toggle="tab"
          href="#v-tabs-messages"
          role="tab"
          aria-controls="v-tabs-messages"
          aria-selected="false"
        >Messages</a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          id="v-tabs-settings-tab"
          data-toggle="tab"
          href="#v-tabs-settings"
          role="tab"
          aria-controls="v-tabs-settings"
          aria-selected="false"
        >Settings</a>
      </li>
    </ul>
  </div>

  <div class="col-9">
    <div class="tab-content">
      <div
        class="tab-pane show active"
        id="v-tabs-home"
        role="tabpanel"
        aria-labelledby="v-tabs-home-tab"
      >home...</div>

      <div
        class="tab-pane"
        id="v-tabs-profile"
        role="tabpanel"
        aria-labelledby="v-tabs-profile-tab"
      >profile...</div>

      <div
        class="tab-pane"
        id="v-tabs-messages"
        role="tabpanel"
        aria-labelledby="v-tabs-messages-tab"
      >messages...</div>

      <div
        class="tab-pane"
        id="v-tabs-settings"
        role="tabpanel"
        aria-labelledby="v-tabs-settings-tab"
      >settings...</div>
    </div>
  </div>
</div>

