<h5 class="my-3">Add <code>.nav-justified</code></h5>

<!-- Nav tabs -->
<ul class="raul-nav nav nav-tabs raul-nav-underline nav-justified" role="tablist">
  <li class="nav-item">
    <a
      class="nav-link active"
      href="#home-4"
      aria-controls="home"
      role="tab"
      data-toggle="tab"
      aria-expanded="true"
    >
      Home
    </a>
  </li>

  <li class="nav-item">
    <a
      class="nav-link"
      href="#profile-4"
      aria-controls="profile"
      role="tab"
      data-toggle="tab"
      aria-expanded="false"
    >
      Profile
    </a>
  </li>

  <li class="nav-item">
    <a
      class="nav-link"
      href="#messages-4"
      aria-controls="messages"
      role="tab"
      data-toggle="tab"
      aria-expanded="false"
    >
      Messages
    </a>
  </li>

  <li class="nav-item">
    <a
      class="nav-link"
      href="#settings-4"
      aria-controls="settings"
      role="tab"
      data-toggle="tab"
      aria-expanded="false"
    >
      Settings
    </a>
  </li>
</ul>

<!-- Tab panes -->
<div class="raul-tab-content tab-content">
  <div role="tabpanel" class="tab-pane active" id="home-4">home...</div>

  <div role="tabpanel" class="tab-pane" id="profile-4">profile...</div>

  <div role="tabpanel" class="tab-pane" id="messages-4">messages...</div>

  <div role="tabpanel" class="tab-pane" id="settings-4">settings...</div>
</div>
