<div class="row">
  <div class="col-3">
    <div class="raul-accordion-container raul-light-accordion">
      <div class="raul-accordion-item">
        <input type="checkbox" id="checkbox-5" name="checkbox" checked>

        <label for="checkbox-5">Title1 Goes Here</label>

        <div class="raul-accordion-item-content">
          <ul class="nav nav-tabs flex-column" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="v-tabs-home-tab"
                data-toggle="tab"
                href="#v-tabs-example-1"
                role="tab"
                aria-controls="v-tabs-example-1"
                aria-selected="true"
              >Example 1</a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                id="v-tabs-example-2-tab"
                data-toggle="tab"
                href="#v-tabs-example-2"
                role="tab"
                aria-controls="v-tabs-example-2"
                aria-selected="false"
              >Example 2</a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                id="v-tabs-example-3-tab"
                data-toggle="tab"
                href="#v-tabs-example-3"
                role="tab"
                aria-controls="v-tabs-example-3"
                aria-selected="false"
              >Example 3</a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                id="v-tabs-example-4-tab"
                data-toggle="tab"
                href="#v-tabs-example-4"
                role="tab"
                aria-controls="v-tabs-example-4"
                aria-selected="false"
              >Example 4</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="raul-accordion-item">
        <input type="checkbox" id="checkbox-6" name="checkbox">

        <label for="checkbox-6">Title2 Goes Here</label>

        <div class="raul-accordion-item-content">
          <ul class="nav nav-tabs flex-column" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="v-tabs-example-5-tab"
                data-toggle="tab"
                href="#v-tabs-example-5"
                role="tab"
                aria-controls="v-tabs-example-5"
                aria-selected="true"
              >Example 5</a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                id="v-tabs-example-6-tab"
                data-toggle="tab"
                href="#v-tabs-example-6"
                role="tab"
                aria-controls="v-tabs-example-6"
                aria-selected="false"
              >Example 6</a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                id="v-tabs-example-7-tab"
                data-toggle="tab"
                href="#v-tabs-example-7"
                role="tab"
                aria-controls="v-tabs-example-7"
                aria-selected="false"
              >Example 7</a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                id="v-tabs-example-8-tab"
                data-toggle="tab"
                href="#v-tabs-example-8"
                role="tab"
                aria-controls="v-tabs-example-8"
                aria-selected="false"
              >Example 8</a>
            </li>
          </ul>

        </div>
      </div>

      <div class="raul-accordion-item">
        <input type="checkbox" id="checkbox-7" name="checkbox">

        <label for="checkbox-7">Title3 Goes Here</label>

        <div class="raul-accordion-item-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id malesuada sapien.
            Mauris urna justo, ultrices id aliquet aliquet, pellentesque sed massa.
            Cras vulputate ipsum vitae erat lobortis, sed tempus erat volutpat.
            Sed porttitor, augue iaculis faucibus lobortis, elit nunc scelerisque est,
            non rhoncus tortor libero eu mauris.
          </p>
        </div>
      </div>

      <div class="raul-accordion-item">
        <input type="checkbox" id="checkbox-8" name="checkbox">

        <label for="checkbox-8">Title4 Goes Here</label>

        <div class="raul-accordion-item-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id malesuada sapien.
            Mauris urna justo, ultrices id aliquet aliquet, pellentesque sed massa.
            Cras vulputate ipsum vitae erat lobortis, sed tempus erat volutpat.
            Sed porttitor, augue iaculis faucibus lobortis, elit nunc scelerisque est,
            non rhoncus tortor libero eu mauris.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-9">
    <div class="tab-content">
      <div
        class="tab-pane show active"
        id="v-tabs-example-1"
        role="tabpanel"
        aria-labelledby="v-tabs-example-1-tab"
      >example 1...</div>

      <div
        class="tab-pane"
        id="v-tabs-example-2"
        role="tabpanel"
        aria-labelledby="v-tabs-example-2-tab"
      >example 2...</div>

      <div
        class="tab-pane"
        id="v-tabs-example-3"
        role="tabpanel"
        aria-labelledby="v-tabs-example-3-tab"
      >example 3...</div>

      <div
        class="tab-pane"
        id="v-tabs-example-4"
        role="tabpanel"
        aria-labelledby="v-tabs-example-4-tab"
      >example 4...</div>

      <div
        class="tab-pane"
        id="v-tabs-example-5"
        role="tabpanel"
        aria-labelledby="v-tabs-example-5-tab"
      >example 5...</div>

      <div
        class="tab-pane"
        id="v-tabs-example-6"
        role="tabpanel"
        aria-labelledby="v-tabs-example-6-tab"
      >example 6...</div>

      <div
        class="tab-pane"
        id="v-tabs-example-7"
        role="tabpanel"
        aria-labelledby="v-tabs-example-7-tab"
      >example 7...</div>

      <div
        class="tab-pane"
        id="v-tabs-example-8"
        role="tabpanel"
        aria-labelledby="v-tabs-example-8-tab"
      >example 8...</div>
    </div>
  </div>
</div>

