<ul class="raul-nav-toggles nav nav-tabs">
  <li class="raul-nav-toggles-item nav-item">
    <a
      class="nav-link active"
      href="#toggle-1"
      aria-controls="toggle-1"
      role="tab"
      data-toggle="tab"
      aria-expanded="true"
    >
      Toggle Button1
    </a>
  </li>

  <li class="raul-nav-toggles-item nav-item">
    <a
      class="nav-link"
      href="#toggle-2"
      aria-controls="toggle-2"
      role="tab"
      data-toggle="tab"
      aria-expanded="false"
    >
      Toggle Button2
    </a>
  </li>

  <li class="raul-nav-toggles-item nav-item">
    <a
      class="nav-link"
      href="#toggle-3"
      aria-controls="toggle-2"
      role="tab"
      data-toggle="tab"
      aria-expanded="false"
    >
      Toggle Button3
    </a>
  </li>

  <li class="raul-nav-toggles-item nav-item">
    <a
      class="nav-link"
      href="#toggle-4"
      aria-controls="toggle-2"
      role="tab"
      data-toggle="tab"
      aria-expanded="false"
    >
      Toggle Button4
    </a>
  </li>
</ul>

<!-- Tab panes -->
<div class="raul-tab-content tab-content">
  <div id="toggle-1" class="raul-toggle-content tab-pane active">Toggle Button Content 1</div>

  <div id="toggle-2" class="raul-toggle-content tab-pane">Toggle Button Content 2</div>

  <div id="toggle-3" class="raul-toggle-content tab-pane">Toggle Button Content 3</div>

  <div id="toggle-4" class="raul-toggle-content tab-pane">Toggle Button Content 4</div>
</div>
