<div class="raul-uploader" data-url="https://cdn.realpage.com/raul/<%= (`${FRAMEWORK_VERSION}`) %>/styleguide/plugins/dropzone">
  <div class="raul-uploader-droparea mb-2">
    <i class="fa fa-cloud-upload raul-uploader-icon" aria-hidden="true"></i>
    <span>Drag files here to upload or <span class="text-primary">Choose File</span></span>
  </div>

  <div class="raul-uploader-files"></div>
</div>
