<div class="raul-card p-3">
  <div class="row align-items-center">
    <div class="col-12 col-lg-3 mb-3 mb-lg-0">
      <div class="row no-gutters">
        <div class="col-auto">
          <img
            style="width: 48px; height: 48px;"
            class="img-fluid"
            src="https://cdn.realpage.com/images/a0.jpg"
            alt="a0"
          >
        </div>

        <div class="col pl-3">
          <h3>This is the title</h3>

          <p class="text-charcoal-50 mb-0">This is the description</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-2 mb-3 mb-lg-0">
      <span class="text-charcoal-70 mb-0">
        <span class="d-inline-block">710 Peachtree Street NE,</span>

        <span class="d-inline-block">
          <span>Suite 100</span>

          <span>Atlanta, </span>
        </span>

        <span class="d-inline-block">
          <span>GA </span>

          <span>30308, </span>
        </span>

        <span class="d-inline-block">USA</span>
      </span>
    </div>

    <div class="col-12 col-lg mb-3 mb-lg-0 text-truncate">
      <a href="tel:4044596100" class="text-charcoal-80 d-block text-truncate">
        <i class="fa fa-phone text-charcoal-70 pr-2" aria-hidden="true"></i>
        (404) 459-6100
      </a>
    </div>

    <div class="col-12 col-lg mb-3 mb-lg-0 text-truncate">
      <a href="mailto:info@raul.com" class="text-charcoal-80 d-block text-truncate">
        <i class="fa fa-envelope-o text-charcoal-70 pr-2" aria-hidden="true"></i>
        info@raul.com
      </a>
    </div>

    <div class="col-12 col-lg text-truncate">
      <a href="http://cfres.com" target="_blank" class="text-charcoal-80 d-block text-truncate">
        <i class="fa fa-globe text-charcoal-70 pr-2" aria-hidden="true"></i>
        cfres.com
      </a>
    </div>
  </div>
</div>
