<div class="form-group">
  <label for="raul-simple-datepicker">
    Some title
  </label>

  <input
    class="form-control form-control-date"
    type="text"
    id="raul-simple-datepicker"
    name="raul-simple-datepicker"
    placeholder="Pick Date"
  />
</div>
