<div id="raul-date-range-picker-grouped">
  <div class="input-group input-daterange">
    <label for="raul-date-range-picker-grouped-start" class="sr-only">
      Start Date
    </label>

    <input
      class="form-control form-control-date datepicker-range-start"
      type="text"
      id="raul-date-range-picker-grouped-start"
      name="raul-date-range-picker-grouped-start"
      placeholder="Pick Date"
    />

    <div class="input-group-prepend">
      <div class="input-group-text">
        to
      </div>
    </div>

    <label for="raul-date-range-picker-grouped-end" class="sr-only">
      End Date
    </label>

    <input
      class="form-control form-control-date datepicker-range-end"
      type="text"
      id="raul-date-range-picker-grouped-end"
      name="raul-date-range-picker-grouped-end"
      placeholder="Pick Date"
    />
  </div>
</div>
