<button
  class="btn btn-default"
  data-notification-toggle
  data-notification-type="info"
  data-notification-title="Info Notification"
>
  Show Info
</button>

<button
  class="btn btn-default"
  data-notification-toggle
  data-notification-type="success"
  data-notification-title="Success Notification"
>
  Show Success
</button>

<button
  class="btn btn-default"
  data-notification-toggle
  data-notification-type="danger"
  data-notification-title="Danger Notification"
>
  Show Danger
</button>

<button
  class="btn btn-default"
  data-notification-toggle
  data-notification-type="success"
  data-notification-title="I will fade away in 3 seconds...!"
  data-notification-ttl="3000"
>
  Show Auto-Fade (TTL*)
</button>

<button
  class="btn btn-default"
  data-notification-toggle
  data-notification-type="danger"
  data-notification-more-details-link="https://www.realpage.com/"
  data-notification-more-details-text="Clicking me will take you to RealPage.com home page"
>
  Show Link Only
</button>

<button
  class="btn btn-default"
  data-notification-toggle
  data-notification-type="success"
  data-notification-title="Saved!"
  data-notification-description="Unit 12B has been updated"
  data-notification-more-details-link="#"
  data-notification-more-details-text="View"
  data-notification-ttl="5000"
  data-notification-show-close-button="false"
  data-notification-prevent-display="false"
>
  Show All Options
</button>
